rb-spectroscopy/data/**/*.csv
rb-spectroscopy/data/**/*.CSV
rb-spectroscopy/_*
rb-spectroscopy/*.png
rb-spectroscopy/.ipynb_checkpoints
rb-spectroscopy/data
rb-spectroscopy/fabry_perot_fits

__pycache__
